@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>



@Assets.Script("jquery.validate.min.js")  
@Assets.Script("jquery.validate.unobtrusive.min.js")  


<div class="vidform"> 
</div>
 

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


