@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr> 
        <th>UserName</th>
        <th>Role</th> 
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.UserName</td> 
        <td>@item.RoleName</td>  
    </tr>
}

</table>



