<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  throwExceptions="true"   >

	<extensions>
		<add assembly="NLog.Extended" />
	</extensions>
	<!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
	<targets>
		

		<target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
				layout="${longdate} ${uppercase:${level}} ${message:shortName=true}  " />
 
		<target type="Database" name="databaseLog"  ConnectionStringName="ApplicationConnectionString"> 
				<commandText>
					DECLARE @summary nvarchar(100)
					DECLARE @browserParam nvarchar(100)
					DECLARE @typeParam nvarchar(100)
					set @summary = SUBSTRING(@Description, 1, 100)
					set @browserParam = SUBSTRING(@Browser, 1, 100)
					set @typeParam = SUBSTRING(@Type, 1, 100)
					EXECUTE InsertLog
					@Description,
					@summary,
					@Level,
					@Logger ,
					@Status,
					@IpAddress,
					@browserParam,
					@Server,
					@Session,
					@UserName,
					@Application,
					@typeParam,
					@Email,
					@Layout
				</commandText>
				<parameter name="@Description" layout="${message}"/> 
				<parameter name="@Level" layout="${level}"/>
				<parameter name="@Logger" layout=" "/>
				<parameter name="@Status" layout=" "/>
				<parameter name="@IpAddress" layout="${aspnet-request:serverVariable=HTTP_X_FORWARDED_FOR}"/>
				<parameter name="@Browser" layout="${aspnet-request:serverVariable=HTTP_USER_AGENT}"/>
				<parameter name="@Server" layout="${aspnet-request:serverVariable=SERVER_NAME}"/>
				<parameter name="@Session" layout="${aspnet-sessionid}"/>
				<parameter name="@UserName" layout="${aspnet-user-identity}"/>
				<parameter name="@Application" layout="${level}"/>
				<parameter name="@Type" layout="${callsite}"/>
				<parameter name="@Email" layout="${aspnet-session:variable=email}"/>
				<parameter name="@Layout" layout="email:${aspnet-session:variable=email}|username:${aspnet-session:variable=username}|local_addr:${aspnet-request:serverVariable=local_addr}|HTTP_HOST:${aspnet-request:serverVariable=HTTP_HOST}|callsite:${callsite}|exception:${exception:format=Message,StackTrace}|stacktrace:${stacktrace}  "/>
 

		</target>

<!--



		-->

	</targets>

	<rules>
		<logger name="*" minLevel="Trace" appendTo="databaseLog"/>
		<logger name="*" minlevel="Trace" writeTo="f" />
	</rules>
</nlog>