
@{
    ViewBag.Title = "Movie List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>My Movie List</h2>

<p>Hello from our View Template!</p>
<p>testing out the source control!</p>
<p>testing out the source control!</p>
<p>testing out the source control!</p>
<p>testing out the source control!</p>
<p>testing out the source control!</p>
<p>testing out the source control!</p>
<p>testing out the source control!</p>
<p>testing out the source control!</p>
<p>testing out the source control!</p>
<p>testing out the source control!</p>
<p>testing out the source control!</p>
<p>testing out the source control!</p>
<p>testing out the source control!</p>