@{
    ViewBag.Title = "ViewPage2";
}
 

   <section class="group1">
   <h3>I am watching...</h3>

   <a class="photo_hover3" href="#"><img src="/Public/images/picture2.jpg" width="190" height="126" alt="picture" /></a>

   <p>Cats don't like change without their consent. 

Cats can be cooperative when something feels good, which, to a cat, is the way everything is supposed to feel as much of the time as possible. 

The cat is a creature of most refined and subtle perceptions naturally. </p>
   <a href=""><span class="button">Read more</span></a>
   </section>

   
   <section class="group2">
   <h3>I am thinking...</h3>

   <a class="photo_hover3" href="#"><img src="/Public/images/picture3.jpg" width="190" height="126" alt="picture" /></a>

   <p>There are people who reshape the world by force or argument, but the cat just lies there, dozing; and the world quietly reshapes itself to suit his comfort and convenience.</p>
   <a href=""><span class="button">Read more</span></a>
   </section>
   
   <section class="group3">
   <h3>I am resting...</h3>

   <a class="photo_hover3" href="#"><img src="/Public/images/picture1.jpg" width="190" height="126" alt="picture" /></a>

   <p>The thing about cats,
As you may find,
Is that no one knows
What they have in mind.   </p>
   <a href=""><span class="button">Read more</span></a>
    
   </section>
   
   <section class="group4">
   <h3>And purr sleeping..</h3>

   <a class="photo_hover3" href="#"><img src="/Public/images/picture4.jpg" width="190" height="126" alt="picture" /></a>

   <p>Cats have always been associated with the Moon. Like the Moon, they come to life at night, escaping from humanity and wandering over housetops with their eyes beaming out through the darkness. 
   </p>
   <a href=""><span class="button">Read more</span></a>
    
   </section>
  