@{
    ViewBag.Title = "Index";
}



<div class="grid" id="content">
                     
    
    <div id="contactform">
     
            <p>
                <label for="Company">
                    Company name: <em>*</em></label>  
                 <input type="text" class="Company txt" id="ctl00_ContentPlaceHolder1_Company" maxlength="50" name="ctl00$ContentPlaceHolder1$Company"> 
            </p>
            <p>
                <label for="Name">
                    Name: <em>*</em></label> 
                 <input type="text" class="Name txt" id="ctl00_ContentPlaceHolder1_Name" maxlength="50" name="ctl00$ContentPlaceHolder1$Name"> 
            </p>
            <p>
                <label for="Address">
                    Address:</label> 
                 <input type="text" class="Address txt" id="ctl00_ContentPlaceHolder1_Address" maxlength="50" name="ctl00$ContentPlaceHolder1$Address"> 
            </p>
            <p>
                <label for="City">City:</label> 
                 <input type="text" class="City txt" id="ctl00_ContentPlaceHolder1_City" maxlength="50" name="ctl00$ContentPlaceHolder1$City"> 
            </p>
            <p>
                <label for="State">
                    State:</label> 
                 <input type="text" class="State txt" id="ctl00_ContentPlaceHolder1_State" maxlength="50" name="ctl00$ContentPlaceHolder1$State"> 
            </p>
            <p>
                <label for="Telephone">
                    Telephone:</label> 
                 <input type="text" class="Telephone txt" id="ctl00_ContentPlaceHolder1_Telephone" maxlength="50" name="ctl00$ContentPlaceHolder1$Telephone"> 
            </p>
            <p>
                <label for="Email">
                    Email: <em>*</em></label> 
                 <input type="text" class="Email txt" id="ctl00_ContentPlaceHolder1_Email" maxlength="50" name="ctl00$ContentPlaceHolder1$Email"> 
            </p>
            <p>
                <label for="Comments">
                    Your Comments:</label> 
                 <textarea style="height:60px;" class="Comments txt" id="ctl00_ContentPlaceHolder1_Comments" cols="20" rows="2" name="ctl00$ContentPlaceHolder1$Comments"></textarea>  
            </p>
            <p>
                <em>* <span class="small">Required</span>.</em> </p>
            <p>
                <input type="submit" id="ctl00_ContentPlaceHolder1_btnSubmit" value="Submit" name="ctl00$ContentPlaceHolder1$btnSubmit">
            </p>
            <h3 style="padding-left:146px">INDUSTRIAL BATTERY SALES AND SERVICE <br> 749 N. Harvard Ave, Villa Park, Illinois <br><br> 630-941-0700 phone<br> 630-941-1679 fax</h3>
    </div>

                </div>









@section sidebar{  
    <div id="sidebar"> 
        <div class="center"><iframe height="550" frameborder="1" width="330" scrolling="no" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=749+N.+Harvard+Avenue+,++Villa+Park,+IL&amp;aq=&amp;sll=41.904814,-87.983137&amp;sspn=0.006755,0.010149&amp;g=749+N.+Harvard+Avenue+++Villa+Park,+IL&amp;ie=UTF8&amp;hq=&amp;hnear=749+N+Harvard+Ave,+Villa+Park,+Illinois+60181&amp;ll=41.904814,-87.983137&amp;spn=0.003394,0.005075&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed" marginwidth="0" marginheight="0"></iframe><br><small><a style="color:#0000FF;text-align:left" href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=749+N.+Harvard+Avenue+,++Villa+Park,+IL&amp;aq=&amp;sll=41.904814,-87.983137&amp;sspn=0.006755,0.010149&amp;g=749+N.+Harvard+Avenue+++Villa+Park,+IL&amp;ie=UTF8&amp;hq=&amp;hnear=749+N+Harvard+Ave,+Villa+Park,+Illinois+60181&amp;ll=41.904814,-87.983137&amp;spn=0.003394,0.005075&amp;t=m&amp;z=14&amp;iwloc=A">View Larger Map</a></small>
        </div> 
    </div>
}








