 
<head>
<meta charset="UTF-8">
<title>Cat template - Home</title>
<link rel="icon" href="images/favicon.gif" type="image/x-icon"/>
 <!--[if lt IE 9]>
 <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

<link rel="shortcut icon" href="images/favicon.gif" type="image/x-icon"/>  
    @Assets.CSS("Site.css")

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    @Assets.Script("slides.min.jquery.js") 
	<script>
	    $(function () {
	        $('#slides').slides({
	            preload: true,
	            preloadImage: 'images/loading.gif',
	            play: 5000,
	            pause: 2500,
	            hoverPause: true
	        });
	    });
	</script>


    </head>
<body>
    
    <!--start container-->
    <div id="container">

        <!--start header-->

        <header>
 
            <!--start logo-->
            <a href="#" id="logo"><img src="/Public/images/logo.png" width="262" height="133" alt="logo"/></a>    

            <!--end logo-->
	
            <!--start menu-->

            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Contact</a></li>

                </ul>
            </nav>
            <!--end menu-->
	

            <!--end header-->
        </header>


        <!--start intro-->

        <section id="intro">
            <div id="slides">
                <div class="slides_container">
                    <img src="/Public/images/banner1.jpg" width="960" height="300" alt="baner">
                    <img src="/Public/images/banner2.jpg" width="960" height="300" alt="baner">
                    <img src="/Public/images/banner3.jpg" width="960" height="300" alt="baner">


                </div>
            </div>
 
        </section>
        <!--end intro-->
   
   
        <!--start holder-->
        <div class="holder_content1">
   
            <section class="group5">
                <h1>Welcome</h1>

                <article>

                    <h2>Douglas Adams:
                        One of the problems of taking things apart and seeing how they work - supposing you're trying to find out how a cat works--you take that cat apart to see how it works, what you've got in your hands is a non-working cat. The cat wasn't a sort of clunky mechanism that was susceptible to our available tools of analysis. 
                    </h2>

  
                </article> 
   
            </section>

        </div>
        <!--end holder-->

   
        <!--start holder-->

        <div class="holder_content">
   
            @RenderBody()
 
        </div>
        <!--end holder-->
   
   
   
   
    </div>
    <!--end container-->
   
    <!--start footer-->
    <footer>
   
    </footer>
    <!--end footer-->
    <!-- Free template distributed by http://freehtml5templates.com -->   
</body>
</html>

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
     