@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>

<div> 
</div>

<p> 
    <a href="http://localhost:49765/api/comments/comment/1">api/comments/comment/1</a> 
</p>

<p> 
    <a href="http://localhost:49765/api/comments">api/comments</a> 
</p>

<p> 
    <a href="http://localhost:49765/api/comments/1/2">api/comments/1/2</a> 
</p>


