@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





            <div class="post">
                <div class="Prospect">
                    <p>
                        <b>Industrial Battery Sales &amp; Service</b> represents
                        <b>Crown Batteries</b> and <b>Hobart Chargers</b> for use in your Electric Forklift
                        Trucks. We stock the most commonly used industrial batteries and chargers in our
                        facility in Villa Park. We have an extensive repair department which enables us
                        to do minor repairs at your facility and major repairs, such as replacing cells,
                        resealing, running a capacity test, and painting, in our shop. If it is necessary
                        for repairs to be done in our shop, we have service batteries and chargers to keep
                        your equipment in operation We also conduct battery inspections free of charge to
                        let you know the condition of your batteries. We take voltage and hydrometer readings
                        of every cell in all of your batteries and send you a report of our findings with
                        our recommendations. In addition to all of this, we stock various types of automotive
                        batteries and chargers, scrubber, sweeper and personal carrier batteries. We can
                        install Automatic Start/Stop Controls on your chargers, which will increase battery
                        life, save consumption of electricity, and reduce watering of your batteries. Finally,
                        we carry many battery accessories, such as Battery Cell Fillers, Battery Lifts,
                        Cable Retractors, Connectors, Cables, which can be shipped UPS at your request.
                    </p>
                </div>
            </div>
         