@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 @section slideshow{
         <div id="slideshow"> <div class="slider-wrapper theme-default">
           <div class="ribbon"></div>
            <div id="slider" class="nivoSlider">
                <img src="/public/nivo-slider/demo/images/sshow01.jpg" alt="" />
                 <img src="/public/nivo-slider/demo/images/sshow02.jpg" alt="" title="" /> 
                 <img src="/public/nivo-slider/demo/images/sshow03.jpg" alt="" title="" />
                  <img src="/public/nivo-slider/demo/images/sshow04.jpg" alt="" title="" /> 
                     
                </div> 
            </div>
          </div>

       }
            <div class="post">
                <div class="Prospect">
                   
                     <p><br /><span style="font-size:20px; font-style:italic; font-weight:bold">Welcome to Battery Equipment Supply</span>, proudly producing American made battery handling and lead acid industrial battery repair accessories.<br />
Battery Equipment Supply is devoted to producing quality made accessories designed to stand up to the most demanding battery charging room.  All of our parts are hand made in the United States using the highest quality materials available and are inspected for quality control through each step of production.</p> <br /><br />
<h3>For your battery room, Battery Equipment Supply offers:</h3><br />
<p>Lifting Beam- OSHA approved to lift and change out batteries in forklifts.<br />
Cell Filler- fills batteries to the correct level with an automatic shut off.<br />
Cable retractor- Keeps cables off the floor preventing damage from running over cables with forklift trucks and damage from dropping connectors.</p><br /><br />
<h3>For your battery repair service center, Battery Equipment Supply offers:</h3><br />
<p>Drill Bit- Designed to keep a post for burning on new cables and inter-cell connectors<br />
PVC Syringe- Decreases the time necessary to acid adjusting batteries with a 15oz capacity and acid resistant parts.<br />
Call or email Battery Equipment Supply today with any questions in regards to our battery handling accessories, and battery repair accessories. </p>
    </div>
       </div>
         

         @section sidebar{ 
                <div id="sidebar">
                   
                </div> 
         }